<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Security</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="row"  style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-3">
            <h3><b>Authorize</b></h3>
            <div>
                <div style="padding-top: 30px">
                    <span th:text="${urlAuthorize}"></span>
                </div>
            </div>
            <div>
                <div style="padding-top: 30px">
                    <a class="link" th:href="${urlAuthorize}">authorize</a>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <a class="link" th:href="@{/}"> &lArr; back</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>