<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Security</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-3">
            <form action="#" th:action="@{/transferMoneyFromCardToCard}" method="post">
                <fieldset>
                    <h3>Transfer money from card to card</h3>
                    <div th:if="${oneCardError}">
                        <div class="alert alert-danger">
                            <span th:text="${oneCardError}"></span>
                        </div>
                    </div>
                    <div th:if="${zeroCardError}">
                        <div class="alert alert-danger">
                            <span th:text="${zeroCardError}"></span>
                        </div>
                    </div>
                    <div th:if="${cardsSame}">
                        <div class="alert alert-danger">
                            <span th:text="${cardsSame}"></span>
                        </div>
                    </div>
                    <div th:if="${notEnoughMoneyError}">
                        <div class="alert alert-danger">
                            <span th:text="${notEnoughMoneyError}"></span>
                        </div>
                    </div>
                    <div hidden class="form-group">
                        <input class="form-control" type="text" name="userLogin" th:value = "${user.login}"
                               placeholder = "name" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <select th:value = "${name}" name="fromCardName">
                            <option th:each="card : ${cards}"
                                    th:value="${card.name}"
                                    th:text="${card.name}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select th:value = "${name}" name="toCardName">
                            <option th:each="card : ${cards}"
                                    th:value="${card.name}"
                                    th:text="${card.name}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" step="0.01" min="0" name="transferMoney"
                               placeholder = "transfer money" required="true"/>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-5">
                            <button class="btn btn-primary btn-block">transfer</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                        </div>
                    </div>
                </fieldset>
            </form>
            <div>
                <div style="padding-top: 30px">
                    <a class="link" th:href="@{/}"> &lArr; back</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>