.tabsDynamicHeight md-content h1:first-child {
    margin-top: 0px;
}

.position {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

hr {
    border: none;
    background-color: darkgray;
    color: darkgray;
    height: 1px;
}

/*********************/
.main {
    //background: #ccc;
    margin: 30px 30px 0 30px;
    padding: 0 0 0 0;
}

.frame {
    margin: 0 0 0 0;
    padding: 0 20px 20px 20px;
}

.message {
    font-weight: bold;
    text-align: left;
    color: #dea093;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
}

.form_message {
    font-weight: bold;
    text-align: left;
    color: #dea093;
    margin: 20px 0 20px 0;
}

.action_legend {
    font-weight: bold;
    text-align: left;
    color: crimson
}

.action_message {
    font-weight: bold;
    text-align: left;
    color: #7565b7
}

a {
    display: inline-block;
    text-decoration: none;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 20px;
    font-weight: bold;
    /*font-family: 'Montserrat', sans-serif;*/
    transition: 0.4s ease-in-out;
}

.link {
    border-radius: 1px;
    /*color: #F17434;
    //background-color: white;
    /*background-image: -webkit-repeating-linear-gradient(45deg, #FFDDBB, #FFDDBB 1px, rgba(255, 0, 0, 0) 2px, rgba(255, 0, 0, 0) 10px), -webkit-repeating-linear-gradient(135deg, #FFDDBB, #FFDDBB 1px, rgba(255, 0, 0, 0) 2px, rgba(255, 0, 0, 0) 10px);
    background-image: -o-repeating-linear-gradient(45deg, #FFDDBB, #FFDDBB 1px, rgba(255, 0, 0, 0) 2px, rgba(255, 0, 0, 0) 10px), -o-repeating-linear-gradient(135deg, #FFDDBB, #FFDDBB 1px, rgba(255, 0, 0, 0) 2px, rgba(255, 0, 0, 0) 10px);
    background-image: repeating-linear-gradient(45deg, #FFDDBB, #FFDDBB 1px, transparent 2px, transparent 10px), repeating-linear-gradient(135deg, #FFDDBB, #FFDDBB 1px, transparent 2px, transparent 10px);*/
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.link:hover {
    background-image: -webkit-repeating-linear-gradient(left, #FFDDBB, #FFDDBB 1px, rgba(255, 0, 0, 0) 2px, rgba(255, 0, 0, 0) 10px);
    background-image: -o-repeating-linear-gradient(90deg, #FFDDBB, #FFDDBB 1px, rgba(255, 0, 0, 0) 2px, rgba(255, 0, 0, 0) 10px);
    background-image: repeating-linear-gradient(90deg, #FFDDBB, #FFDDBB 1px, transparent 2px, transparent 10px);
}

/*.link {
    border: 2px solid #4955de; /* Рамка */
    /*solid-color: #aa0000;
    display: inline-block;
    padding: 5px 15px; /* Поля */
    /*text-decoration: none; /* Убираем подчёркивание */
    /*color: #000; /* Цвет текста */
/*}

.link:hover {
/*    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
/*    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
/*    color: #a00;
}*/
