<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Security</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-3">
            <h3>Bank cards</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>money</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="card : ${cards}">
                    <td th:text="${card.id}"></td>
                    <td th:text="${card.name}"></td>
                    <td th:text="${card.money}"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <div style="padding-top: 30px">
                    <a class="link" th:href="@{/}"> &lArr; back</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>